<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uber.uberfamily.dao.AdTemplateDao">

    <select id="getList" parameterType="java.util.Map" resultType="adTemplate">
        SELECT
        *,
        (SELECT count(ad_file_id)
        FROM t_ad_template_file_rel
        WHERE ad_temp_id = t_ad_file_template.id) file_count
        FROM t_ad_file_template
        <where>
            <if test="templateName !=null">and template_name LIKE "%"#{templateName}"%"</if>
        </where>
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="adTemplate">
        insert into t_ad_file_template ( template_name, template_desc, create_time, creator,is_default) values
        (#{templateName},#{templateDesc},#{createTime,jdbcType=TIME,javaType=Date},#{creator},#{isDefault})
    </insert>

    <update id="update" parameterType="adTemplate">
        UPDATE t_ad_file_template
        <set>
            <if test="templateName !=null">template_name = #{templateName},</if>
            <if test="templateDesc !=null">template_desc = #{templateDesc},</if>
            <if test="isDefault !=null">is_default = #{isDefault},</if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <resultMap id="adTemplateMap" type="adTemplate">
        <id column="id" javaType="long" property="id"/>
        <result column="template_name" property="templateName"/>
        <result column="template_desc" property="templateDesc"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="is_default" property="isDefault"/>
        <collection property="adFileList" ofType="java.util.Map" fetchType="lazy">
            <result column="ad_file_id" property="fileId" javaType="long"/>
            <result column="ad_file_file_title" property="fileTitle" javaType="string"/>
        </collection>
        <collection property="allowCityList" ofType="long" fetchType="lazy">
            <result column="ad_file_city_code"/>
        </collection>
    </resultMap>

    <select id="getById" parameterType="long" resultMap="adTemplateMap">
        SELECT
        t_ad_file_template.*,
        t_ad_template_file_rel.ad_file_id AS ad_file_id,
        t_ad_fileList.fileTitle AS ad_file_file_title,
        t_city.city_code AS ad_file_city_code
        FROM t_ad_file_template
        LEFT JOIN t_ad_template_file_rel ON t_ad_template_file_rel.ad_temp_id = t_ad_file_template.id
        RIGHT JOIN t_ad_fileList ON t_ad_template_file_rel.ad_file_id = t_ad_fileList.id
        LEFT JOIN t_ad_template_city_rel ON t_ad_file_template.id = t_ad_template_city_rel.ad_temp_id
        LEFT JOIN t_city ON t_city.city_code = t_ad_template_city_rel.city_code
        <where>
            t_ad_file_template.id = #{value}
        </where>
    </select>

    <delete id="deleteRelByTempId" parameterType="long">
        delete from t_ad_template_file_rel WHERE ad_temp_id = #{value}
    </delete>

    <insert id="createRel" parameterType="java.util.ArrayList">
        INSERT INTO t_ad_template_file_rel(ad_temp_id,ad_file_id)VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.tempId},#{item.fileId})
        </foreach>
    </insert>

    <delete id="delete" parameterType="long">
        delete from t_ad_file_template WHERE id=#{value}
    </delete>


    <insert id="createCityRel" parameterType="java.util.ArrayList">
        INSERT INTO t_ad_template_city_rel(ad_temp_id,city_code) VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.tempId},#{item.cityCode})
        </foreach>
    </insert>

    <delete id="deleteCityRel" parameterType="long">
        DELETE FROM t_ad_template_city_rel WHERE ad_temp_id=#{VALUE}
    </delete>

    <insert id="bindDevice" parameterType="java.util.Map">
        REPLACE INTO t_ad_template_device_rel(device_id,ad_temp_id)VALUES (#{deviceId},#{adTempId});
    </insert>
</mapper>