<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uber.uberfamily.dao.FileListDao">


    <select id="getList" resultType="fileList" parameterType="java.util.Map">
        SELECT * FROM t_ad_fileList
    </select>


    <insert id="create" parameterType="fileList" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_ad_fileList(fileUUID, company, uniqueFileName, fileName, filePostfix, fileTitle, fileSize,  fileVersion, md5Check,
        uploadByWho, uploadTime, isUploaded, startTime, endTime, boardcastMode, isAudited, auditTime,fileLevel)
        VALUES (#{fileUUID},#{company},#{uniqueFileName},#{fileName},#{filePostfix},#{fileTitle},#{fileSize},#{fileVersion},
        #{md5Check},#{uploadByWho},#{uploadTime},#{isUploaded},#{startTime},#{endTime},#{boardcastMode},#{isAudited},#{auditTime},#{fileLevel})
    </insert>

    <select id="getById" parameterType="long" resultType="fileList">
        SELECT * FROM t_ad_fileList
        WHERE id= #{value}
    </select>

    <update id="update" parameterType="fileList">
        update t_ad_fileList
        <set>
            <if test="uniqueFileName != null">uniqueFileName = #{uniqueFileName},</if>
            <if test="fileName != null">fileName = #{fileName},</if>
            <if test="filePostfix != null">filePostfix = #{filePostfix},</if>
            <if test="fileTitle != null">fileTitle = #{fileTitle},</if>
            <if test="fileSize != null">fileSize = #{fileSize},</if>
            <if test="md5Check != null">md5Check = #{md5Check},</if>
            <if test="uploadTime != null">uploadTime = #{uploadTime},</if>
            <if test="startTime != null">startTime = #{startTime},</if>
            <if test="endTime != null">endTime = #{endTime},</if>
            <if test="fileLevel != null">fileLevel = #{fileLevel},</if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="deleteDeviceInfoRel" parameterType="java.util.Map">
        DELETE FROM t_filelist_deviceInfo
        WHERE device_info_id = #{deviceId}
        AND file_list_level = #{fileListLevel}
    </delete>

    <delete id="deleteDeviceInfoRelByFileId" parameterType="long">
        DELETE FROM t_filelist_deviceInfo
        where file_list_id = #{value}
    </delete>

    <insert id="insertDeviceInfoRel" parameterType="java.util.Map">
        insert into t_filelist_deviceInfo(device_info_id,file_list_level,file_list_id)VALUES
        (#{deviceId},#{fileListLevel},#{fileListId})
    </insert>

    <select id="getFileForDevice" parameterType="long" resultType="fileList">
        SELECT *
        FROM t_ad_fileList
        WHERE id = (SELECT file_list_id
                    FROM t_filelist_deviceInfo
                    WHERE device_info_id = #{VALUE}
                    ORDER BY file_list_id ASC
                    LIMIT 0, 1
        )
    </select>

    <select id="getFileListForDevice" parameterType="long" resultType="fileList">
        SELECT *
        FROM t_ad_fileList
        WHERE id IN (
          SELECT ad_file_id
          FROM t_ad_template_file_rel
          WHERE ad_temp_id = (SELECT ad_temp_id
                              FROM t_ad_template_device_rel
                              WHERE device_id = #{VALUE}))
    </select>
</mapper>