<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uber.uberfamily.dao.PermissionDao">

    <sql id="mapWhereClause">
        <if test="id != null">AND id = #{id,javaType=long}</if>
        <if test="name != null">AND name = #{name,javaType=string}</if>
        <if test="type != null">AND type = #{string,javaType=string}</if>
    </sql>

    <select id="getModuleGroups" resultType="permission">
        SELECT * FROM t_auth_permission
        WHERE type = 1
        ORDER BY sort_no ASC
    </select>

    <select id="getList" parameterType="java.util.Map" resultType="permission">
        SELECT * FROM t_auth_permission
        <where>
            <include refid="mapWhereClause"/>
        </where>
    </select>

    <select id="getChildren" parameterType="long" resultType="permission">
        SELECT * FROM t_auth_permission
        WHERE pid = #{value,javaType=long}
    </select>

    <resultMap id="permissionMap" type="permission">
        <id column="id" javaType="long" property="id"/>
        <result column="code" property="code"/>
        <result column="ico" property="ico"/>
        <result column="name" property="name"/>
        <result column="pid" property="pid"/>
        <result column="sort_no" property="sortNo"/>
        <result column="type" property="type"/>
        <result column="url" property="url"/>
        <collection property="permissionSet" ofType="permission" fetchType="lazy" columnPrefix="children_" resultMap="children_permission"/>
    </resultMap>

    <resultMap id="children_permission" type="permission">
        <id column="id" javaType="long" property="id"/>
        <result column="code" property="code"/>
        <result column="ico" property="ico"/>
        <result column="name" property="name"/>
        <result column="pid" property="pid"/>
        <result column="sort_no" property="sortNo"/>
        <result column="type" property="type"/>
        <result column="url" property="url"/>
    </resultMap>

    <select id="getPermission" parameterType="java.util.Map" resultMap="permissionMap">
        SELECT
        t.id,
        t.code,
        t.ico,
        t.name,
        t.pid,
        t.sort_no,
        t.type,
        t.url,
        children.id as children_id,
        children.pid as children_pid,
        children.name as children_name,
        children.code as children_code,
        children.sort_no as children_sortNo,
        children.type as children_type,
        children.url as children_url,
        children.ico as children_ico
        FROM t_auth_permission t, t_auth_permission children
        <where>
            t.id = children.pid
            and t.TYPE = 1
        </where>
    </select>


    <resultMap id="permissionZtreeMap" type="java.util.HashMap">
        <id javaType="long" column="id" property="id"/>
        <result column="pid" javaType="long" property="pid"/>
        <result column="name" property="name" javaType="string"/>
        <result column="checked" property="checked" javaType="boolean"/>
        <result column="open" property="open" javaType="boolean"/>
    </resultMap>

    <select id="getPermissionMap" parameterType="long" resultMap="permissionZtreeMap">
        SELECT
          id,
          ifnull(pid, 0) AS pid,
          name,
          'true'        AS checked,
          'false'        AS open
        FROM t_auth_permission
        WHERE id IN (SELECT permission_id
                     FROM t_auth_role_permission
                     WHERE role_id = #{value,javaType=long})
        UNION
          SELECT
            id,
            ifnull(pid, 0) AS pid,
            name,
            'false'        AS checked,
            'false'        AS open
          FROM t_auth_permission
          WHERE id not IN (SELECT permission_id
                       FROM t_auth_role_permission
                       WHERE role_id = #{value,javaType=long})
    </select>
</mapper>