<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uber.uberfamily.dao.RoleDao">

    <resultMap id="roleMap" type="Role">
        <id property="id" column="ar_id"/>
        <result column="ar_name" property="name"/>
        <collection property="permissionSet" ofType="permission" fetchType="lazy">
            <id property="id" column="ap_id"/>
            <result property="pid" column="ap_pid"/>
            <result property="name" column="ap_name"/>
            <result property="code" column="ap_code"/>
            <result property="type" column="ap_type"/>
            <result property="url" column="ap_url"/>
            <result property="ico" column="ap_ico"/>
        </collection>
    </resultMap>

    <select id="getRoleByUserId" parameterType="long" resultMap="roleMap">
          SELECT
          ar.id AS ar_id,
          ar.name AS ar_name,
          ap.id AS ap_id,
          ap.name as ap_name,
          ap.code as ap_code,
          ap.pid as ap_pid,
          ap.type as ap_type,
          ap.url as ap_url,
          ap.ico as ap_ico
        FROM t_auth_role ar, t_auth_permission ap, t_auth_role_permission arp
        WHERE ar.id = arp.role_id
          AND ap.id = arp.permission_id
          AND ar.id IN (SELECT role_id
                     FROM t_auth_user_role
                     WHERE user_id = #{value,javaType=long})
    </select>

    <resultMap id="roleSelectMap" type="Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <collection property="permissionSet" ofType="Permission" select="selectPermission" column="id" fetchType="lazy"/>
    </resultMap>

    <select id="getRoleById" parameterType="long" resultMap="roleSelectMap">
        SELECT * FROM t_auth_role
        where id =#{value,javaType=long}
    </select>

    <select id="selectPermission" parameterType="long" resultType="Permission">
        SELECT t_auth_permission.* from t_auth_permission,t_auth_role_permission
        where t_auth_permission.id = t_auth_role_permission.permission_id
        AND t_auth_role_permission.role_id=#{value,javaType=long}
    </select>

    <select id="getList" parameterType="java.util.Map" resultType="role">
        SELECT * FROM t_auth_role
    </select>


    <resultMap id="getRoleMapResult" type="java.util.HashMap">
        <id column="ar_id" property="id" javaType="long"/>
        <result column="ar_name" javaType="string" property="name"/>
        <result column="pid" property="pId" javaType="long"/>
        <result column="checked" property="checked" javaType="boolean"/>
    </resultMap>
    <select id="getRoleMap" parameterType="java.util.Map" resultMap="getRoleMapResult">
        SELECT
        ar.id AS ar_id,
        ar.name AS ar_name,
        'true' AS checked,
        0 AS pid
        FROM t_auth_role ar
        <where>
            <if test="userId != null">
                ar.id IN (SELECT role_id
                FROM t_auth_user_role
                WHERE user_id = #{userId,jdbcType=BIGINT})
            </if>
        </where>
        UNION
        SELECT
        ar.id AS ar_id,
        ar.name AS ar_name,
        'false' AS checked,
        0 AS pid
        FROM t_auth_role ar
        <where>
            <if test="userId != null">
                ar.id not IN (SELECT role_id
                FROM t_auth_user_role
                WHERE user_id = #{userId,jdbcType=BIGINT})
            </if>
        </where>
    </select>
</mapper>